*{
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    min-height: 100dvh;

    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.player-select{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 80%;

    padding: 5% 10%;

    margin-bottom: 35px;
}

.card{
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5px 20px;

    padding: 2.5% 0%;

    text-transform: uppercase;

    > img{
        max-width: 150px;
        width: 60%;
    }
}

.round{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 80%;

    padding: 5% 10%;

    margin-bottom: 35px;
}

.hidden{
    display: none;
}

.show-card{
    animation: .2s show-item-animation linear;
}

.win{
    background-color: #69ec69;
}

.draw{
    background-color: #f6ff00;
}

.lose{
    background-color: #ec6969;
}

#reset{
    color: #fff;
    background-color: rgb(70, 70, 163);
    padding: 7.5px 15px;
    font-size: 1.5rem;
}

.placar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 15px;

    > div{
        margin: auto 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.hover{
    &:hover{
        cursor: pointer;
        opacity: .7;
        transition: .2s;
    } 
}

@keyframes show-item-animation {
    from{
        scale: 0%;
    }
    to{
        scale: 100%;
    }
}

@media (max-width: 500px) {
    .round{
        flex-direction: column;
    }       
}